<%= javascript_pack_tag 'home' %>
<head>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <div id="logo">
      <h1><a href="/">Steam Bl<i class="fa fa-fan" style="font-size:42px"></i>wer</a></h1>
    </div>
  </header>
  <main>
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Type your <a href="https://steamidfinder.com/" target="_blank">SteamID64</a> to get the screenshots</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3" id="form_urls_group">
              <input type="text" class="form-control" id="user_input" placeholder="Enter the SteamID64 here">
              <div class="input-group-append">
                <button type="button" class="btn btn-primary" id="user_submit_button">
                  <div id="user_submit_text">Get URLs</div>
                   
                  <div id="user_submit_spinner" style="display: none;">
                    <span>Blowing...&nbsp;<i class="fa fa-fan fa-spin" style="font-size:24px"></i></span>
                  </div>
                  <div id="user_submit_done" style="display: none;">
                    <span>Done!</span>
                  </div>
                </button>
              </div>
            </div>
            <div>
              <textarea readonly id="urls" rows="8" cols="50">The screenshots URLs will appear here...</textarea>
              <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                <button type="button" class="btn btn-outline-secondary btn-sm" id="clipboard_button">Copy to clipboard</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
              <p>Steam Blower is a tool to easily get the direct URL for your steam screenshots.
              <br>You can put these links in another program/extension to download them at once.</p>
            </div>
          </div>
        </div>
    </section>

    <section id="section_info">
      <div class="container">
        <div class="row">
          <div class="col">
            <div id="user_pitch">
              <h3>Simple and fast</h3>
              <p>
                Have you ever tried to download your steam screenshots, only to find out you would have to open each one of them on the browser and save one by one?
                <br>
                <br>
                <b>Steam Blower</b> is a tool that scrapes your public steam profile page and hands it to you the URL for every public screenshot you have.
                Then you can just paste them in a download manager/extension and it will download everything at once! No need to download shady discontinued software or give personal information.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <ul>
      <li><a href="/">Steam Blower</a></li>
      <li class="separator">|</li>
      <li><a href="https://github.com/rodrigorichter/steamblower" target="_blank">Contribute on Github</a></li>
      <li class="separator">|</li>
      <li><a href="mailto:guigorichter@gmail.com">Contact</a></li>
  </footer>
</body>