<%= javascript_pack_tag 'home' %>

<h1>Steam Blower</h1>
<h4>Download all steam screenshots</h4>

<form>
  <div class="form-group">
    <label for="user_input">Steam username</label>
    <input type="text" class="form-control" id="user_input">
  </div>
  <button type="button" class="btn btn-primary" id="user_submit_button">Submit</button>
</form>

<textarea id="urls" rows="4" cols="50"></textarea>

